<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We are an agency that practices agile development to build your service.</h2>
                    <h3 class="section-subheading text-muted"> Our main goals are to engage you into a partnership, built on trust and respect, and to work together as a team. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>OUR PROCESS</h4>
                                    <h4 class="subheading">Initial analysis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Problem analysis based on the interview with client. Describing needs and requirements.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Project analysis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our developer will divide your idea into small tasks and estimate how much time it will take.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Implementation</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We use Scrum, Kanban or lean methodologies. We take care about the quality of your project so that it will be easily maintainable. We use BDD (form of TDD) focused on integration testing – outside-in approach. We use GIT repository and own CI server. Every change is reviewed by second experienced developer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Maintenance and service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We provide professional maintenance and service. We focus on bugs fixing, modifying, upgrading and refactoring.</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
