<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Kraft.png" class="img-responsive img-centered center-block" alt="Kraft Food">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/logo-sanofi.png" class="img-responsive img-centered center-block" alt="Sanofi Aventis">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/WU.png" class="img-responsive img-centered center-block" alt="Western Union">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/kpmg.jpeg" class="img-responsive img-centered center-block" alt="KPMG">
                    </a>
                </div>
            </div>
                        <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Heineken.png" class="img-responsive img-centered center-block" alt="Heineken">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Wyeth.png" class="img-responsive img-centered center-block" alt="Wyeth Pharmaceuticals">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Mcgrawhill.png" class="img-responsive img-centered center-block" alt="McGraw Hill Education">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Hormel.png" class="img-responsive img-centered center-block" alt="Hormel Foods">
                    </a>
                </div>
            </div>
                        <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/echalk.png" class="img-responsive img-centered center-block" alt="eChalk">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/CastrolGas.png" class="img-responsive img-centered center-block" alt="Castrol Gas">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/the_Bloc.png" class="img-responsive img-centered center-block" alt="Cement Bloc">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/ims.png" class="img-responsive img-centered center-block" alt="IMS Health">
                    </a>
                </div>
            </div>
                        <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/arch.jpeg" class="img-responsive img-centered center-block" alt="Arch Insurance">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Axcelera.jpeg" class="img-responsive img-centered center-block" alt="Axcelera">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/BrandWizard.jpg" class="img-responsive img-centered center-block" alt="Brand Wizard">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/the_r.png" class="img-responsive img-centered center-block" alt="Revolution Digital">
                    </a>
                </div>
            </div>
        </div>
    </aside>