<div class="nav">
    <div id="strip"></div>
    <div class="top">
        <div class="logo">
            <a href="/"><img src="/img/Tekno Mobi.png" title='Tekno Mobi' alt='Tekno Mobi'></a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/development">Development</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
