<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services We Offer</h2>
                    <h3 class="section-subheading text-muted">We have 18 years of experience in managing small to large scale projects. We understand current trends, business models, best practices and technologies. We will help you to find the best solution to meet your needs and create a simple and usable product.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For a large company</h4>
                    <p class="text-muted">we offer the following services. 
                    Build modules of existing/beta systems.
                    Build prototypes.
                    Improve current systems.
                    Optimize and find new solutions/algorithms</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For a small company</h4>
                    <p class="text-muted">We offer the following services:
                    Create an application from start to finish.
                    Build a friendly interface.
                    Analyze your target market/audience.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">For the entrepreneur</h4>
                    <p class="text-muted">we offer the following services:
                    Design, build and create a customized product suitable to your needs.
                    Improve the system you are working on.
                    Propose non-standard solutions.
                    Complete design work</p>
                </div>
            </div>

        </div>
    </section>